/* @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scroll {
    overflow: hidden;
  }
  .custom-gradient {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  }

  .rajdhani-light {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .rajdhani-regular {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .rajdhani-medium {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .rajdhani-semibold {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .rajdhani-bold {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .dark-nonmain-bg-color {
    background-color: #0a0a23;
  }

  .dark-main-bg-color {
    background-color: #1b1b32;
  }
}

li:has(> a.active > span) {
  background-color: rgb(252 165 165);
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  font-style: normal;
}
